.promo-banner .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 500px;
  padding: 0 60px;
  position: relative;
}

.promo-banner__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.promo-banner__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: var(--white);
}

.promo-banner__text {
  margin-top: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
}

.promo-banner__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border-radius: 8px;
  width: 144px;
  height: 56px;
  background-color: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--dark);
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.promo-banner__button:hover {
  color: var(--gray);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}
