.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gray);
  opacity: 0.5;
  z-index: 1;
}

.modal__window {
  display: flex;
  position: relative;
  z-index: 10;
  max-width: 644px;
  width: 100%;
  height: 304px;
  background: var(--white);
}

.modal__container {
  padding: 48px;
  width: 100%;
  height: 100%;
}

.size-table {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--dark);
}

.size-table__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 100%;
  flex-shrink: 0;
}

.size-table__content.swiper {
  max-width: 400px;
  width: 100%;
  height: 100%;
}

.size-table__body.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.size-table__body-slide.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  height: 100%;
}

.size-table__body-slide.swiper-slide:nth-child(odd) {
  background: #f5f5f5;
}

.modal__close {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 16px;
  right: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  cursor: pointer;
}

@media (max-width: 676px) {
  .size-table__header {
    font-size: 14px;
  }

  .modal__window {
    max-width: calc(100% - 32px);
    width: 100%;
    margin: 0 auto;
    height: 256px;
  }

  .modal__container {
    padding: 36px 16px;
  }

  .size-table__header {
    width: 100px;
  }

  .size-table__body-slide.swiper-slide {
    width: 50px;
  }
}
